.layout {
	display: flex;
	flex-direction: column;
}

.layout__header {
	height: 100px;
	width: 100%;
	background-color: green;
}

.layout__main {
	height: 100px;
	width: 100%;
	background-color: yellow;
}

.layout__footer {
	height: 100px;
	width: 100%;
	background-color: red;
}
