package layout

import (
	"app/ui/internal/component/footer"
	"app/ui/internal/component/header"
)

templ Layout(main templ.Component) {
	<html>
		<head>
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1, maximum-scale=1"
			/>
			<link href="/static/css/main.min.css" rel="stylesheet"/>
			<script src="/static/js/main.min.js" defer></script>
			<script src="/static/js/htmx.min.js" defer></script>
		</head>
		<body class="layout">
			<div class="layout__header container">
				@header.Header()
			</div>
			<div class="layout__main container">
				@main
			</div>
			<div class="layout__footer container">
				@footer.Footer()
			</div>
		</body>
	</html>
}
