package nav

templ Nav() {
	<section class="nav">
		<div class="nav__logo"></div>
		<div class="nav__dropdown">
			<div class="nav__dropdown-btn"></div>
			<div class="nav__dropdown-link"></div>
		</div>
	</section>
}
