package header

templ Header() {
	<div class="header">
		<div class="header__logo"></div>
		<div class="header__nav">
			<div class="header__nav-button"></div>
			<div class="header__nav-menu"></div>
		</div>
	</div>
}
