package header

templ Header() {
	<div class="header">
		<div class="header__logo">logo</div>
		<div class="header__nav">
			<div class="header__nav-button">menu</div>
			<div class="header__nav-menu">
				<div class="header__nav-link" data-url="/signup">signup</div>
				<div class="header__nav-link" data-url="/login">login</div>
				<div class="header__nav-link" data-url="/logout">logout</div>
			</div>
		</div>
	</div>
}
