package layout

import "app/dto"
import "app/ui/internal/templ/layout/header"
import "app/ui/internal/templ/layout/footer"

templ Layout(state *dto.State) {
	if state.Htmx {
		{ children... }
	} else {
		<!DOCTYPE html>
		<html>
			<head>
				<link href="/static/css/main.css" rel="stylesheet"/>
				<script src="/static/js/htmx.min.js" defer></script>
			</head>
			<body class="layout">
				<header class="layout__header">
					<div class="container">
						@header.Header()
					</div>
				</header>
				<main class="layout__main">
					<div class="container">
						{ children... }
					</div>
				</main>
				<footer class="layout__footer">
					<div class="container">
						@footer.Footer()
					</div>
				</footer>
			</body>
		</html>
	}
}
