package fail

import "app/dto"
import "app/ui/internal/templ/layout"

templ Fail(state *dto.State, code int, message string) {
	@layout.Layout(state) {
		<section class="fail">
			<p class="fail__text">{ code } - { message }</p>
		</section>
	}
}
